/* ------------- <Container> ------------- */
.container {
 position: relative;
  @include section-padds(0,0,15px,15px);
  
    margin-left: auto;
    margin-right: auto;
  
    @include mq(mobile){

      width:480px;
    }
  
    @include mq(tablet){
      width:768px;
    }
  
    @include mq(desktop){
      width: 1200px;
    }
  
  }
  
  .menu-container {
    margin-left:auto;
    @include mq(mobile-only)
    {
      display:none;
      position: absolute;

      padding: 40px;
      padding-top: 48px;
    
      background-color: var(--button-txt);
    
      font-size: 20px;

      height: 796px;
      width: 100%;

      top: 0;
      left: 0;
      z-index: 10;
  
      &.is-open{
        display:block;
      }
    }
    
    @include mq(tablet) {
      display: flex;
    }
  }
  
  /* ------------- <Container> ------------- */