/* --------------  Essential -------------- */
:root {
    --text-color: #212121;
    --active-color: #2196f3;
    --button-background: #f5f4fa;
    --button-txt: #fff;
    --dark-background: #2f303a;
    --ordinary-text: #757575;
    --works-border: #eeeeee;
    --header-border: #ececec;
    --transitime: 250ms;
    --transifunction: cubic-bezier(0.4, 0, 0.2, 1);
  }
