.clients-list {
  display: flex;
}

.clients-list__item {
  margin-right: 30px;

  &--last {
    margin-right: 0px;
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;

  color: var(--ordinary-text);
  border: 1px solid var(--ordinary-text);
  border-radius: 4px;

  transition: border-color var(--transitime) var(--transifunction),
    color var(--transitime) var(--transifunction);

  &:hover,
  &:focus {
    border-color: var(--active-color);
    color: var(--active-color);
  }
}

.clients-list__icon {
  fill: currentColor;
}
