/* ----------- start -> <Contacts> ------------- */
.contacts {
  display: flex;
  align-items: center;

  &--right {
    margin-left: auto;
  }

  &--column {
    flex-direction: column;
    align-items: flex-start;
  }
  @include mq(mobile-only){
    display: block;
  }

  @include mq(tablet-only){
    display: block;
  }
}

.contacts__item {
  display: inline-block;
  list-style-type: none;

  margin-right: 50px;

  &--last {
    margin-right: 0px;
  }

  &--column {
    margin-bottom: 9px;
  }

  @include mq(mobile-only){
    display:block;
   
    &:not(:last-child)
     {margin-bottom:32px;}
  }
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;


  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--ordinary-text);

  transition: color var(--transitime) var(--transifunction);

  &:hover,
  &:focus {
    color: var(--active-color);
  }

  @include mq(mobile-only){
    justify-content:left;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 11px;
}

/* ----------- end -> <Contacts> ------------- */
