/* ------------- <Container> ------------- */
.container {

  position: relative;

/*   width: 1200px; */  
@include section-padds(0,0,15,15);

  margin-left: auto;
  margin-right: auto;

  @include mq(mobile){
    width:480px;
  }

  @include mq(tablet){
    display: flex;
    width:768px;
  }

  @include mq(desktop){
    width: 1200px;
  }

}

.menu-container {
  padding: 15px;

  background-color: var(--button-txt);

  text-align: center;
  font-size: 20px;
  @include mq(mobile-only)
  {
    display:none;
    position: absolute;
    outline: 1px tomato solid;
    top: 0;
    left: 0;
    z-index: 1;

    height: 796px;
    width: 100%;
    
    &.is-open{
      display:block;
    }
  }
  @include mq(tablet) {
    display: flex;
  }
}

/* ------------- <Container> ------------- */
